In [0]:
%sql
select *from example.bronze.custom_table;

id,name,age
3,John,25
4,Jane,30
5,Bob,35
1,Kalyan,19
2,Hima,17

---

### Craeting a new table and copying the contents of `custom_table` to it

In [0]:
%sql
create table if not exists example.bronze.table_with_sql
(
  id int primary key not null,
  name string,
  age int,
  salary int
);
-- use example.bronze.table_with_sql;

insert into example.bronze.table_with_sql 
select id,name,age,NULL as salary from example.bronze.custom_table;

num_affected_rows,num_inserted_rows
5,5

In [0]:
%sql
select * from example.bronze.table_with_sql;

id,name,age,salary
1,Kalyan,19,null
2,Hima,17,null
3,John,25,null
4,Jane,30,null
5,Bob,35,null

In [0]:
%sql
-- fill the salary column with appropriate values
update example.bronze.table_with_sql
set salary= CASE
  when id = 1 then 999999999
  when id = 2 then 999999998
  when id = 3 then 22598746
  when id = 4 then 3786765
  when id = 5 then 2346635
  else salary
end
where id in (1,2,3,4,5);

select * from example.bronze.table_with_sql

num_affected_rows
5

id,name,age,salary
1,Kalyan,19,999999999
2,Hima,17,999999998
3,John,25,22598746
4,Jane,30,3786765
5,Bob,35,2346635

In [0]:
%sql